
.descriptionL {
  width:50%;
  float:left;
  min-height:100%;
  img {
    max-width:94%;
  }
} 
.descriptionR {
  width:42%;
  margin-right:4%;
  margin-left:4%;
  float:right;
  min-height:100%;
  p {
    font-size:14px;
    text-align:justify;
  }
}

.video1 {
  width:100%;
  min-height:100%;
}
.video2 {
  width:100%;
  clear:both;
}

@media (max-width: 770px) {
  .descriptionL {
    width:100%;
    min-height:100%;
    img {
      max-width:100%;
    }
  } 
  .descriptionR {
    width:100%;
    margin-right:4%;
    margin-left:4%;
    min-height:100%;
    p {
      font-size:14px;
      text-align:justify;
    }
  }
}   
