
.app {
  .brand {
    position: absolute;
    $size: 50px;
    top: 1px;
    left: 5px;
    display: inline-block;
    background: url('../../../images/thumbnail.jpg') no-repeat center center;
    width: $size;
    height: $size;
    background-size: 100%;
    margin: 0 10px 0 0px;
    border-radius: $size / 2;
    
  }
  nav :global(.fa) {
    font-size: 4em;
    line-height: 30px;
  }

}
.appContent {
  margin: 50px 0; // for fixed navbar
}
